build/exe.win-amd64-3.6/images/cropImages/crop_rect.png
build/exe.win-amd64-3.6/images/HoldImages/thres.png
images/cropImages/crop_rect.png
images/HoldImages/thres.png
.spyproject/workspace.ini
.idea/workspace.xml
.idea/misc.xml
.idea/InstantScale.iml
__pycache__/processImage.cpython-36.pyc
.idea/dictionaries/joaor.xml

